body {
    font-family: 'Oswald', sans-serif;
    margin: auto 30px;
    color: #555;
}

ul {
    margin: 0;
    border: solid 1px #555;
}

li {
padding: 5px
}

#todo-list-container {
    margin-top: 20px;
}

#completed-list {
    list-style-type: none;
}

#completed-list li {
    text-decoration: line-through;
}